a{
    cursor:crosshair;
    text-decoration: none;
}

.dropNavCat{
    opacity:0;
    visibility: hidden;
    display:none;
}

#canvas{
    width:100vw;
    height:100vh;
    background:black;
    margin:0;
    left:0;
    top:0;
    position:fixed;
    cursor: crosshair;
}

#rightContainer{
    width:22vw;
}

#topBar{
    height:16%;
    width: 100%;
    position:sticky;
    margin: 0 0 4% 0;
}

#navbar{
    background:black;
    position:absolute;
    width:72%;
    height: 100%;
    margin:0 0 8% 1%;
    display:flex;
    justify-content: space-between;
    z-index:1;
    transition:300ms;
}

.navCat{
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.25vw;
    letter-spacing: .3vw;
    color:white;
    opacity: 1;
    margin: 4%;
    transition: 300ms;
}

.selected{
    font-weight:700;
    text-decoration: underline;
    text-underline-offset: 8px;
}

#wordmark{
    width:22.5vw;
    height:auto;
    position:absolute;
    z-index:2;
    right:4%;
    margin: 2.5% 0 0 0;
}

#menu{
    height:8vh;
    width: 8vh;
    display:flex;
    justify-content: space-evenly;
    flex-direction:column;
    transition:300ms;
    transform-origin: center;
    margin: 4% 0% 0% 4%;
    opacity:0;
    position: absolute;
}

.menuBar{
    background:white;
    width:100%;
    height:12%;
    margin:2% 0 2% 0;
}

#content{
    display:flex;
    flex-direction: row;
    position:fixed;
    width: 92vw;
    left:4%;
}

#heroImage{
    height:auto;
    width:66vw;
    filter: grayscale(100%);
    transition:300ms;
    margin: 0 4% 0 0;
}

#heroImage:hover{
    filter: grayscale(0%);
}

#bio{
    color: gray;
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.4vw;
    line-height: 1.8vw;
    width:100%;
    margin: 0 0 8% 0;
}

#contactInfo{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}

.contact{
    transition:300ms;
    transform-origin:center;
}

#linkedInIcon{
    max-width: 21.5%;
    height: auto;
}

#gMailIcon{
    max-width: 30%;
    height: auto;
}

#beIcon{
    max-width: 25%;
    height: auto;
}

#instaIcon{
    max-width: 70%;
    height: auto;
}

html{
    visibility: visible;
    opacity:1;
    display:block;
}

@media screen and (max-width: 820px) {
    #topBar{
        height:12%;
        width: 100%;
        position:sticky;
        margin: 0 0 4% 0;
    }
    
    #dropDown{
        width:100%;
        background:black;
        height: 0;
        position:fixed;
        z-index:3;
        opacity:0;
        transition: height 300ms;
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
    }

    .dropNavCat{
        font-family: proxima-nova, sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 5vw;
        margin: 0 0 5vw 0;
        color:white;
        opacity:0;
        transition: opacity 200ms;
    }

    .unfolded{
        visibility:visible;
        display:inline;
    }

    .folded{
        visibility:hidden;
        display:none;
    }
    
    #rightContainer{
        width:100%;
    }
    
    #canvas{
        width:100vw;
        height:100vh;
        background:black;
        margin:0;
        left:0;
        top:0;
        position:fixed;
    }
    #navbar{
        background:black;
        position:sticky;
        width:100%;
        height: 8%;
        margin:0 0 8% 0;
        top:0;
        left:0;
        display:flex;
        justify-content: end;
        z-index:1;
        transition:300ms;
    }
    .navCat{
        font-family: proxima-nova, sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 1vw;
        letter-spacing: .25vw;
        color:white;
        opacity: 0;
        transition:300ms;
        display:none;
    }

    .selected{
        font-weight:700;
        text-decoration: underline;
        text-underline-offset: 8px;
    }
    
    #wordmark{
        height:8vh;
        width:auto;
        position:absolute;
        z-index:2;
        right:4%;
        top:11%;
    }
    
    #menu{
        height:8vh;
        width: 8vh;
        display:flex;
        justify-content: space-evenly;
        flex-direction:column;
        transition:300ms;
        transform-origin: center;
        margin: 4% 0 8% 0;
        top: 0;
        left: 4%;
        opacity:1;
        position: absolute;
        z-index:2;
    }
    
    .menuBar{
        background:white;
        width:100%;
        height:12%;
        margin:2% 0 2% 0;
    }
    
    #content{
        display:flex;
        flex-direction:column;
        position:fixed;
        width: 92%;
        left:4%;
        height: 82.5%;
        overflow:scroll;
    }
    
    #heroImage{
        height:auto;
        width:100%;
        filter: grayscale(100%);
        transition:300ms;
        margin: 0 0 4% 0;
    }

    #heroImage:hover{
        filter: grayscale(0%);
    }
    
    #bio{
        color: gray;
        font-family: proxima-nova, sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 4.8vw;
        line-height: 6vw;
        width:100%;
        margin: 0 0 4% 0;
    }
    
    #contactInfo{
        width:100%;
        display:flex;
        flex-direction: row;
        justify-content:space-between;
    }
    
    .contact{
        transition:300ms;
        transform-origin:center;
    }
    
    #linkedInIcon{
        max-width: 21.5%;
        height: auto;
    }
    
    #gMailIcon{
        max-width: 30%;
        height: auto;
    }
    
    #beIcon{
        max-width: 25%;
        height: auto;
    }
    
    #instaIcon{
        max-width: 70%;
        height: auto;
        margin: 0 0 0 30%;
    }

    html{
        visibility: visible;
        opacity:1;
        display:block;
    }
}